.nav {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0;
  background-color: white;
  box-shadow: $shadow-2;
  padding: 1.2rem;
  font-size: 18px;

  & > .nav-item {
    text-decoration: none;
    color: rgba(0,0,0,.55);
    padding: .4rem 1rem;
    margin: 0 .2rem;
  }

  & > .nav-item.active:not(.logo) {
    color: #812160;
    background-color: rgba(230, 208, 222, 0.63);
    border-radius: 5px;
  }

  & > .nav-item:hover {
    color: rgb(76, 76, 76);
  }

  & .logo {
    font-size: 22px;
    font-weight: bold;
    margin: 0 12px 0 0px;
    color: rgba(0, 0, 0, 0.788);
  }
}
