.left-s {
  width: 30%;
  height: 280px;
  width: 220px;
  float: left;
  margin-left: 50px;
}

.right-s {
  width: 79%;
  float: right;
  border-radius: 8px;
  background-color: rgba(247, 232, 246, 0.404);
}
