.ticket-p1{
    color: rgb(104, 139, 97);
    font-size: 20px;
    left: 0px;
    right: 0px;
    margin: 3px;
    text-decoration: none;
}

.left-t{
    width: 20%;
    float: left;
    margin-left: 10px;
}

.center-t{
    width: 40%;
    float: left;
    margin-left: 10px;
}

.right-t {
    width: 10%;
    float: left;
    margin-left: 10px;
  }

